<div style='width:100vw;height:100vh;display:flex;justify-content:center;align-items:center'>
  <div>
    <h1 style='color:#333;'>Dara webapp Server</h1>
    <p><a style='color:#009bd8;' href='{{{DARAFRONT}}}'>Take me out of here</a></p>
  </div>
</div>
